In [669]:
import pandas as pd
import numpy as np

# Домашнее задание к лекции "Базовые понятия статистики"

# Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

# Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [670]:
surgery = {1 : 'yes', 2 : 'no'}

age = {1 : 'adult', 2: 'young', 9 : 'young'}

abdominal_distension = {1 : 'none',
               2 : 'slight',
               3 : 'moderate',
               4 : 'severe',
               5 : 'severe'}
pain = { 1 : 'no pain',
               2 : 'depressed',
               3 : 'intermittent mild pain',
               4 : 'intermittent severe pain',
               5 : 'continuous severe pain'}

abdomen = {1 : 'normal',
               2 : 'other',
               3 : 'firm feces in the large intestine',
               4 : 'distended small intestine',
               5 : 'distended large intestine'}

outcome = {1 : 'lived',
           2 : 'died',
           3 : 'was euthanized'}

site_of_lesion = {1 : 'gastric',
               2 : 'sm intestine',
               3 : 'lg colon',
               4 : 'lg colon and cecum',
               5 : 'cecum',
               6 : 'transverse colon',
               7 : 'retum/descending colon',
               8 : 'uterus',
               9 : 'bladder',
               11 : 'all intestinal sites',
               0 : 'none'}

In [671]:
df_horse = pd.read_csv('horse_data.csv', header=None, na_values='?')
df_horse = df_horse[[0, 1, 3, 4,10, 12, 17, 22]]
df_horse.columns = ['surgery',
'Age',
'rectal_temperature',
'pulse',
'abdominal_distension',                    
'pain',
'abdomen',
'outcome'
]
df_horse_outliers = df_horse.copy()

df_horse.head()

,surgery,Age,rectal_temperature,pulse,abdominal_distension,pain,abdomen,outcome
0,2.0,1,38.5,66.0,5.0,4.0,5.0,2.0
1,1.0,1,39.2,88.0,3.0,2.0,2.0,3.0
2,2.0,1,38.3,40.0,3.0,1.0,1.0,1.0
3,1.0,9,39.1,164.0,2.0,4.0,NaN,2.0
4,2.0,1,37.3,104.0,NaN,NaN,NaN,2.0

In [672]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               299 non-null    float64
 1   Age                   300 non-null    int64
 2   rectal_temperature    240 non-null    float64
 3   pulse                 276 non-null    float64
 4   abdominal_distension  245 non-null    float64
 5   pain                  244 non-null    float64
 6   abdomen               182 non-null    float64
 7   outcome               299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [673]:
df_horse['surgery'] = df_horse['surgery'].replace(np.NaN, -100).astype(int,errors='ignore')
df_horse['pulse'] = df_horse['pulse'].replace(np.NaN, -100).astype(int,errors='ignore')
df_horse['abdominal_distension'] = df_horse['abdominal_distension'].replace(np.NaN, -100).astype(int,errors='ignore')
df_horse['pain'] = df_horse['pain'].replace(np.NaN, -100).astype(int,errors='ignore')
df_horse['abdomen'] = df_horse['abdomen'].replace(np.NaN, -100).astype(int)
df_horse['outcome'] = df_horse['outcome'].replace(np.NaN, -100).astype(int,errors='ignore')
df_horse.head()

,surgery,Age,rectal_temperature,pulse,abdominal_distension,pain,abdomen,outcome
0,2,1,38.5,66,5,4,5,2
1,1,1,39.2,88,3,2,2,3
2,2,1,38.3,40,3,1,1,1
3,1,9,39.1,164,2,4,-100,2
4,2,1,37.3,104,-100,-100,-100,2

In [674]:
def replace_temp(row):
    if row['rectal_temperature'] <= 37.6 and  row['rectal_temperature'] >= 0:
        return 'min'
    elif  row['rectal_temperature'] >= 38:
        return 'max'
    elif row['rectal_temperature'] > 37.6 and  row['rectal_temperature'] < 38:
        return 'norm'
    else:
        return row['rectal_temperature']
    
def replace_pulse(row):
    if row['pulse'] >= 20 and  row['pulse'] <= 40:
        return 'good'
    else:
        return 'bad'

In [675]:
df_horse = df_horse.replace({"surgery": surgery})
df_horse = df_horse.replace({"Age": age})
df_horse = df_horse.replace({"abdominal_distension": abdominal_distension})
df_horse = df_horse.replace({"pain": pain})
df_horse = df_horse.replace({"abdomen": abdomen})
df_horse = df_horse.replace({"outcome": outcome})
df_horse = df_horse.replace({"site_of_lesion": site_of_lesion})
df_horse['rectal_temperature'] = df_horse.apply(replace_temp, axis=1)
df_horse['pulse'] = df_horse.apply(replace_pulse, axis=1)
df_horse = df_horse.replace(-100, value=np.nan)
df_horse.head()

,surgery,Age,rectal_temperature,pulse,abdominal_distension,pain,abdomen,outcome
0,no,adult,max,bad,severe,intermittent severe pain,distended large intestine,died
1,yes,adult,max,bad,moderate,depressed,other,was euthanized
2,no,adult,max,good,moderate,no pain,normal,lived
3,yes,young,max,bad,slight,intermittent severe pain,NaN,died
4,no,adult,min,bad,NaN,NaN,NaN,died

In [676]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               299 non-null    object
 1   Age                   300 non-null    object
 2   rectal_temperature    240 non-null    object
 3   pulse                 300 non-null    object
 4   abdominal_distension  245 non-null    object
 5   pain                  244 non-null    object
 6   abdomen               182 non-null    object
 7   outcome               299 non-null    object
dtypes: object(8)
memory usage: 18.9+ KB

In [677]:
df_horse.describe()

,surgery,Age,rectal_temperature,pulse,abdominal_distension,pain,abdomen,outcome
count,299,300,240,300,245,244,182,299
unique,2,2,3,2,4,4,5,3
top,yes,adult,max,bad,severe,no pain,distended large intestine,lived
freq,180,276,160,276,81,76,79,178

In [678]:
print(df_horse.groupby(['Age']).Age.count())
print('''\nУ возрастных лошадей чаще случаются проблемы с коликами
Выборка молодых лошадей мала и делать выводы для нее не корректно
далее будем рассматривать взрослых лошадей''')

Age
adult    276
young     24
Name: Age, dtype: int64

У возрастных лошадей чаще случаются проблемы с коликами
Выборка молодых лошадей мала и делать выводы для нее не корректно
далее будем рассматривать взрослых лошадей

In [688]:
df_adult = df_horse[df_horse.Age.str.contains(r'adult', case=False)==True]
new_df_horse = df_adult.groupby(['outcome']).Age.count().reset_index()
new_df_horse['percent'] = new_df_horse['Age'] / new_df_horse['Age'].sum()
print(new_df_horse)
print('\nвыживаемость лошадей от коликов выше 5% процентов выше смертности')

          outcome  Age   percent
0            died   66  0.240000
1           lived  166  0.603636
2  was euthanized   43  0.156364

выживаемость лошадей от коликов выше 5% процентов выше смертности

In [683]:
df_adult = df_horse[df_horse.Age.str.contains(r'adult', case=False)==True]
new_df_horse = df_adult.groupby(['surgery']).Age.count().reset_index()
new_df_horse['percent'] = new_df_horse['Age'] / new_df_horse['Age'].sum()
print(new_df_horse)
print('\nоперативное вмешательство требуется чаще, чем консервативное лечение')

  surgery  Age   percent
0      no  113  0.410909
1     yes  162  0.589091

оперативное вмешательство требуется чаще, чем консервативное лечение

In [689]:
df_adult = df_horse[df_horse.Age.str.contains(r'adult', case=False)==True]
new_df_horse = df_adult.groupby(['surgery', 'outcome']).Age.count().reset_index()
new_df_horse['percent'] = new_df_horse['Age'] / new_df_horse['Age'].sum()
print(new_df_horse)
print('\nсмертность при оперативном лечении выше, чем при консервативном')

!!!!!!!!!!!!!!!

  surgery         outcome  Age   percent
0      no            died   18  0.065455
1      no           lived   78  0.283636
2      no  was euthanized   17  0.061818
3     yes            died   48  0.174545
4     yes           lived   88  0.320000
5     yes  was euthanized   26  0.094545

смертность при оперативном лечении выше, чем при консервативном

In [691]:
df_adult = df_horse[df_horse.Age.str.contains(r'adult', case=False)==True]
new_df_horse = df_adult.groupby(['surgery', 'abdomen', 'pulse']).Age.count().reset_index()
new_df_horse['percent'] = new_df_horse['Age'] / new_df_horse['Age'].sum()
print(new_df_horse)
print('\nрастянутый толстый кишечник и повышенный пульс чаще всего являются показаниями для оперативного вмешательства')

   surgery                            abdomen pulse  Age   percent
0       no          distended large intestine   bad   21  0.118644
1       no          distended small intestine   bad    8  0.045198
2       no  firm feces in the large intestine   bad    9  0.050847
3       no  firm feces in the large intestine  good    1  0.005650
4       no                             normal   bad   14  0.079096
5       no                             normal  good    3  0.016949
6       no                              other   bad   15  0.084746
7       no                              other  good    1  0.005650
8      yes          distended large intestine   bad   54  0.305085
9      yes          distended large intestine  good    2  0.011299
10     yes          distended small intestine   bad   33  0.186441
11     yes          distended small intestine  good    1  0.005650
12     yes  firm feces in the large intestine   bad    2  0.011299
13     yes  firm feces in the large intestine  good    1  0.005650
14     yes                             normal   bad    6  0.033898
15     yes                             normal  good    3  0.016949
16     yes                              other   bad    2  0.011299
17     yes                              other  good    1  0.005650

растянутый толстый кишечник и повышенный пульс чаще всего являются показаниями для оперативного вмешательства

# Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [692]:
df_horse_outliers_rectal_temperature = df_horse_outliers['rectal_temperature'].reset_index()
q1 = df_horse_outliers_rectal_temperature.rectal_temperature.quantile(0.25)
q3 = df_horse_outliers_rectal_temperature.rectal_temperature.quantile(0.75)
iqr = q3 - q1
lower = q1 - (1.5 * iqr) 
upper = q3 + (1.5 * iqr)
print('выбросы rectal_temperature\n')
print(df_horse_outliers_rectal_temperature[(df_horse_outliers_rectal_temperature.rectal_temperature > upper) | (df_horse_outliers_rectal_temperature.rectal_temperature < lower)].rectal_temperature)

df_horse_outliers_pulse = df_horse_outliers['pulse'].reset_index()
q1 = df_horse_outliers_pulse.pulse.quantile(0.25)
q3 = df_horse_outliers_pulse.pulse.quantile(0.75)
iqr = q3 - q1
lower = q1 - (1.5 * iqr) 
upper = q3 + (1.5 * iqr)
print('\nвыбросы pulse\n')
print(df_horse_outliers_pulse[(df_horse_outliers_pulse.pulse > upper) | (df_horse_outliers_pulse.pulse < lower)].pulse)

выбросы rectal_temperature

20     39.9
44     35.4
54     40.3
75     39.7
80     36.4
91     40.3
99     39.6
118    36.5
141    36.0
238    36.1
251    36.6
259    40.8
281    40.0
298    36.5
Name: rectal_temperature, dtype: float64

выбросы pulse

3      164.0
41     150.0
55     160.0
255    184.0
275    150.0
Name: pulse, dtype: float64

# Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
def replace_abdominal_distension(row):
    if row['abdominal_distension'] == np.NaN:
        if row['surgery'] == 1 and row['outcome'] == 1:
            return row.groupby(['surgery', 'outcome']).row.median().reset_index()['abdominal_distension'][0]
        elif row['surgery'] == 1 and row['outcome'] == 2:
            return row.groupby(['surgery', 'outcome']).row.median().reset_index()['abdominal_distension'][1]
        elif  row['surgery'] == 1 and row['outcome'] == 3:
            return row.groupby(['surgery', 'outcome']).row.median().reset_index()['abdominal_distension'][2]
        elif  row['surgery'] == 2 and row['outcome'] == 1:
            return row.groupby(['surgery', 'outcome']).row.median().reset_index()['abdominal_distension'][3]
        elif row['surgery'] == 2 and row['outcome'] == 2:
            return row.groupby(['surgery', 'outcome']).row.median().reset_index()['abdominal_distension'][4]
        elif row['surgery'] == 2 and row['outcome'] == 3:
            return row.groupby(['surgery', 'outcome']).row.median().reset_index()['abdominal_distension'][5]
        else:
            return row['abdominal_distension']
    else:
        return row['abdominal_distension']

In [693]:
df_horse_notna = df_horse_outliers
df_horse_notna = df_horse_notna.drop(['abdomen'], axis=1)
df_horse_notna = df_horse_notna.dropna(thresh=5)
df_horse_notna['rectal_temperature'] = df_horse_notna['rectal_temperature'].replace(np.NaN, df_horse_notna['rectal_temperature'].median()).astype(float,errors='ignore')
df_horse_notna['abdominal_distension'] = df_horse_notna.apply(replace_abdominal_distension, axis=1)
df_horse_notna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288 entries, 0 to 299
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   surgery               287 non-null    float64
 1   Age                   288 non-null    int64
 2   rectal_temperature    288 non-null    float64
 3   pulse                 273 non-null    float64
 4   abdominal_distension  244 non-null    float64
 5   pain                  244 non-null    float64
 6   outcome               287 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 18.0 KB

In [701]:
df_horse_notna.groupby(['surgery', 'outcome']).median().reset_index()

,surgery,outcome,Age,rectal_temperature,pulse,abdominal_distension,pain
0,1.0,1.0,1,38.2,60.0,3.0,2.0
1,1.0,2.0,1,38.2,84.0,4.0,3.0
2,1.0,3.0,1,38.1,82.0,4.0,3.0
3,2.0,1.0,1,38.2,52.0,2.0,1.0
4,2.0,2.0,1,38.2,92.0,4.0,3.0
5,2.0,3.0,1,38.2,88.0,3.0,3.0